@charset "UTF-8";

:root{
    --cor-vermelho-1: #D90404;
    --cor-vermelho-2: #D9303E;
    --cor-azul-1: #034C8C;
    --cor-azul-2: #03588C;
    --cor-preto: #000000;
    --cor-branco: #ffffff;
    --cor-cinza: #F2F2F2;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(236, 234, 234);
}

header{
    text-align: center;
    background-color: var(--cor-vermelho-1);

    position: relative;
}

header img#bandeira{
    display: none;
}

span.centralizar{
    display: flex;
    justify-content: center;
    
    padding: 10px;
    color: var(--cor-branco);
    background-color: var(--cor-azul-1);
}

ul{
    padding: 0;
}

nav a{
    color: var(--cor-preto);
    text-decoration: none;
}

#usa{
    display: none;
}

nav#itens li{
    /* display: flex; */
    text-align: center;

    list-style: none;
    padding: 10px;
    border-bottom: 2px 2px solid var(--cor-branco) ;
}

nav li:hover, nav a:hover ~ picture a{
    color: var(--cor-branco);
    background-color: var(--cor-vermelho-2);
}

main{
    width: 90vw;

    margin: 0 auto;
    padding: 20px;

    background-color: var(--cor-branco);
    
}

p, li{
    font-size: 18px;
}

p{
    line-height: 1.5em;
    text-indent: 7%;
    text-align: justify;

    padding: 10px;
}

section{
    margin-bottom: 50px;
}

section ol{
    list-style-type: decimal;
    columns: 2;
}

section ol li{
    margin-bottom: 10px;
}

section figure img{
    
    width: 300px;
    height: auto;
    object-fit: cover;
    
    margin: 20px auto;

    display: flex;
    
}
