@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

.spnQtd {
  text-align: end;
}

.answers {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.answer{
  font-size: 16px;
  padding: 5px 0 5px 10px;
}

.answer:hover{
  color: yellow;
  font-weight: bold;
  text-decoration: underline;

  background-color: rgb(84, 84, 84);
}

.answer:active{
  color: black;
  background-color: yellow;
}

button {
  width: 100%;
  text-align: start;
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #008CCC;
  color: white;
}

.finish {
  display: none;
  flex-direction: column;
  gap: 10px;
}

.finish button {
  font-size: 16px;
  text-align: center;
  padding: 10px 0;
}

.finish:hover button{
  opacity: 80%;
}

.finish:active button{
  background-color: green;
}

/* link para volta para HOME */
h3 > a{
  color: white;
  text-decoration: none;
  display: block;
  margin-top: 20px;
}

h3 > a:hover{
  color: yellow;
  text-decoration: underline;
}

h3 > a:active{
  color: red;
}